* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(89, 71, 255, 0.9697128851540616) 1%, rgba(133, 27, 144, 1) 100%);
}

.todoApp {
    width: 100%;
    max-width: 550px;
    background: white;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.todoApp h2 {
    
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todoApp h2 img {
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(244, 237, 237);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}
.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(89, 71, 255, 0.9697128851540616) 1%, rgba(133, 27, 144, 1) 100%);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.row button:hover{
    background: linear-gradient(238deg, rgba(86,80,210,0.9871794871794872) 13%, rgba(208,95,95,1) 81%);
}
ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(./Images/uncheck-64.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./Images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: linear-gradient(238deg, rgba(86,80,210,0.9871794871794872) 13%, rgba(208,95,95,1) 81%);
}
